body {
    margin: 0;
    background-color: #616161;
}

header {
    text-align: center;
    background-color: #292929;
    margin: 0;
}

#logo {
    display: block;
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    
}

#logo img{
    width: 80px;

}


header h1 {
    margin: 0;
    font-size: 48px;
    color: #2FCC76;
}

a {
    color: #2FCC76;
}

#header_nav {
    background-color: #29292926;

}

nav {
    margin-top: 20px;
}

nav div {
    margin: 20px;
    display: inline-block;
}