@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Ubuntu+Mono:wght@700&display=swap');

body {
    margin: 0;
    background-color: #616161;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
}

header {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #292929;
    margin: 0;
}

#logo  {
    display: block;
    height: 70px;
    margin-top: 20px;
    margin-left: 5px;
    position: absolute;
}

#logo img{
    width: 70px;

}

header h1 {
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    font-size: 48px;
    color: #2FCC76;
}

#header_nav {
    background-color: #2FCC76;
}


#header_nav nav {
    margin-top: 20px;
}

#header_nav nav div {
    margin: 20px;
    display: inline-block;
}

#header_nav nav div a {
    background-color: gray;
    color: white;
    transition: ease-in 200ms;
    font-weight: bolder;
}

#header_nav nav div a:hover{
    background-color: #292929;
    color: #2FCC76;
}

main {
    margin-top: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 10px;
    text-align: 20px;
}

h2 {
    color: white;
    font-size: large;
}

nav div a {
    margin:0 ;
}

@media (min-width: 961px) {
    #logo {
        margin-left: 225px;
    }
}

@media (max-width: 960px) {
    #logo {
        margin-left: 10px;
        width: 45px;
    }

    header h1 {
        font-size: 32px;
    }

    main {
       width: 85%; 
    }

}
